#page-container {
    min-height: 90vh;
    min-width: 90vh;
    overflow: hidden;       
    position: relative;
    padding-bottom: 55px;
}

#search {
    background-image: url(https://tr.rbxcdn.com/3873de8fcac7ea973d37b9e52dd868c7/420/420/Decal/Png), url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png);
    background-repeat: no-repeat;
    background-position: left 12px center, right 20px center;
    background-size: 5%, 3%;
}

.top-left {
    float: left;
    opacity: 0.7;
}

.top-right {
    float: right;
    /* opacity for this class is in the element 
    I could not figure out how to not show the
    opacity for the sign in button */
}

.bottom-left {
    float: left;
    opacity: 0.6;
}

.bottom-right {
    float: right;
    opacity: 0.6;
}

.logo {
    display: block;
    margin: 150px auto;
}

.signin {
    font-weight: bold;
    background-color: #4387fd;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}

.material-icons {
    position: relative;
    top: 7px;
}

a {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

ul {
    list-style-type: none;
    position: relative;
    top: 2px;
    right: 40px;
}

li {
    display: inline;
    padding: 6px 0px 0px 16px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    border-top: solid;
    border-width: 1px;
    border-color: #e7e7e7;
}

input {
    width: 440px;
    padding: 14px;
    margin: 16px 0px 24px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #e0dfdfbe;  
    border-radius: 25px;
    transition: box shadow .3s;

}


input:hover {
    box-shadow: 0 0 8px;
    color: rgb(33, 33,33,.2);
}

form {
    position: absolute;
    top: 250px;
    left: 415px;
}

button {
    position: relative;
    top: 3px;
    left: 87px;
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
    border-style: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 2px 10px 0px 0px;
}

button:hover {
    border-style: solid;
    border-color: #bbb9b9;
    border-width: 0.5px;
    box-shadow: 0px 0px 1px 0px;
}

body {
    margin: 0px;
}