#page-container {
    min-height: 90vh;
    min-width: 90vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 55px;
}

.top-left {
    float: left;
}

.top-right {
    float: right;
}

.bottom-left {
    float: left;
    opacity: 0.6;
}

.bottom-right {
    float: right;
    opacity: 0.6;
}

.logo {
    display: block;
    margin: 150px auto;
}

.signin {
    font-weight: bold;
    background-color: rgb(66, 133, 244);
    color: white;
    opacity: 0.9;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}

.material-icons {
    position: relative;
    top: 7px;
}

html, body{
    height: 100%;
    position: relative;
}

a {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

ul {
    list-style-type: none;
    position: relative;
    right: 40px;
}

li {
    display: inline;
    padding: 0px 0px 0px 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    border-top: solid;
    border-width: 1px;
    border-color: #e7e7e7;
}

input {
    width: 440px;
    padding: 14px;
    margin: 16px 0px 24px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #c4c2c2;  
    border-radius: 25px;
}

form {
    position: absolute;
    top: 250px;
    left: 415px;
}

button {
    position: relative;
    left: 90px;
    font-size: 14px;
    opacity: 0.7;
    border-style: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 2px 10px 0px 0px;
}

button:hover {
    border-style: solid;
    border-color: #bbb9b9;
    border-width: 0.5px;
    box-shadow: 0px 0px 1px 0px;
}